@charset "UTF-8";

html {
  cursor: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 10px;
}

body {
  /* cursor: none; */
  width: 100%;
  position: relative;
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  line-height: 1;
}

img {
  width: 100%;
  vertical-align: bottom;
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: #000;
}

ul,
ol,
li {
  list-style: none;
}

main,
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
div,
address,
iframe,
canvas,
hr,
textarea {
  display: block;
}

textarea {
  resize: vertical;
  overflow: hidden;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: 0;
}

input,
button,
select {
  vertical-align: middle;
  border-radius: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
  white-space: normal;
  outline: 0;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 0.01px;
  text-overflow: "";
}

select::-ms-expand {
  display: none;
}

table {
  border-collapse: collapse;
}

video {
  width: 100%;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

*:focus {
  outline: none;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
body {
  font-family: "Noto Sans JP", sans-serif;
}

@media only screen and (min-width: 768px) {
  .l-lpWrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.l-spWrapper {
  background-color: #fff;
  overflow: hidden;
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .l-spWrapper {
    position: absolute;
    right: 0;
    z-index: 999;
    width: 38.28125vw;
  }
}

.font-en {
  font-family: "Baskerville URW", "Baskerville", "Baskervville", sans-serif;
}

.onlyShowForSp {
  display: block;
}
@media only screen and (min-width: 768px) {
  .onlyShowForSp {
    display: none;
  }
}

.onlyShowForPc {
  display: none;
}
@media only screen and (min-width: 768px) {
  .onlyShowForPc {
    display: block;
  }
}

.p-blockPad {
  padding: 0 10.6666666667vw;
}
@media only screen and (min-width: 768px) {
  .p-blockPad {
    padding: 0 3.90625vw;
  }
}

.p-blockPad-sec {
  padding: 0 16vw;
}
@media only screen and (min-width: 768px) {
  .p-blockPad-sec {
    padding: 0 4.6875vw;
  }
}

.l-lastBlock {
  background: linear-gradient(177.6278158453deg, rgb(181, 209, 205) -61.748480444%, rgb(181, 209, 205) -40.4360465116%, rgb(239, 212, 206) 85.579082981%, rgb(255, 255, 255) 96.8789640592%);
  background-size: cover;
  padding-top: 36vw;
}
@media only screen and (min-width: 768px) {
  .l-lastBlock {
    padding-top: 13.3333333333vw;
  }
}

.p-nav__btn {
  position: fixed;
  right: 4%;
  top: 4%;
  z-index: 9999;
}
.p-nav__bar {
  width: 10.6666666667vw;
  height: 0.1rem;
  background: #000;
}
.p-nav__bar:not(:last-of-type) {
  margin-bottom: 2.1333333333vw;
}
.p-pc__img--bottomLeft {
  left: -36px;
  width: 42.03125vw;
}
.p-nav__bar--2 {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.p-nav__bar--3 {
  position: relative;
  bottom: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.p-nav__wrapper {
  position: fixed;
  z-index: 9990;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-filter: blur(8px);
          filter: blur(8px);
  visibility: hidden;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  background: linear-gradient(177.6278158453deg, rgb(181, 209, 205) -61.748480444%, rgb(181, 209, 205) -40.4360465116%, rgb(239, 212, 206) 85.579082981%, rgb(255, 255, 255) 96.8789640592%);
}
.p-nav__container {
  width: 85.3333333333vw;
  position: absolute;
  top: 7rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  height: 90vh;
  overflow-y: scroll;
  padding-bottom: 10rem;
}
.p-nav__container::-webkit-scrollbar {
  display: none;
}
.c-nav__lists {
  margin-bottom: 9.3333333333vw;
  font-size: 26px;
  font-family: serif;
  letter-spacing: 3px;
}
.p-nav__list {
  width: 100%;
  position: relative;
  padding-left: 9.3333333333vw;
}
.p-nav__list::before {
  content: "";
  display: inline-block;
  width: 2.6666666667vw;
  height: 2.6666666667vw;
  background: #fff;
  position: absolute;
  border-radius: 50px;
  left: 0;
  top: 1.3333333333vw;
}
.p-nav__list:not(:last-of-type) {
  margin-bottom: 6.6666666667vw;
}
.p-nav__listChild {
  margin-top: 4vw;
}
.p-nav__listChild--link {
  position: relative;
  padding-left: 2.1333333333vw;
  margin-top: 2.1333333333vw;
}
.p-nav__listChild--link::before {
  content: "";
  display: inline-block;
  width: 0.8vw;
  height: 0.2666666667vw;
  background: #000000;
  position: absolute;
  left: 0;
  top: 1.3333333333vw;
}
.p-nav__listChild--link img {
  width: 38.4vw;
}
.p-nav__list--top {
  width: 24.5333333333vw;
}
.p-nav__list--concept {
  width: 45.8666666667vw;
}
.p-nav__list--about {
  width: 36.2666666667vw;
}
.p-nav__list--product {
  width: 43.4666666667vw;
}
.p-nav__list--shop {
  width: 53.4666666667vw;
}
.p-nav__list--news {
  width: 31.4666666667vw;
}
.c-nav__buyLists {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: space-evenly;
}
.p-nav__buyList {
  margin: 16px -2px 0px 7px;
  border: solid 1px #000;
  border-radius: 5px;
  font-size: 10px;
  padding: 15px;
  font-weight: bold;
  width: 46%;
  text-align: center;
}
.c-nav__snsLists {
  display: flex;
  justify-content: space-between;
  width: 23.3333333333vw;
  margin: auto;
}
.c-nav__snsLists li svg{
  width: 50px;
  height: 40px;
}

.p-fv {
  position: relative;
  margin-bottom: 70px;
}
@media only screen and (min-width: 768px) {
  .p-fv {
    margin-bottom: 5.234375vw;
  }
}
.p-fv__logo {
  font-family: serif;
  font-size: 160px;
  transform: rotate(90deg);
  position: absolute;
  bottom: 40%;
  margin-left: -174px;
}
@media only screen and (min-width: 768px) {
  .p-fv__logo {
    font-size: 180px;
    bottom: 50%;
    margin-left: -191px;
  }
}
.p-fv__movie {
  width: 84.2666666667vw;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .p-fv__movie {
    width: 32.109375vw;
  }
}
.p-pickupNews {
  position: relative;
  padding: 0 8vw 0;
  margin-bottom: 26.6666666667vw;
}
@media only screen and (min-width: 768px) {
  .p-pickupNews {
    padding: 0 2.734375vw 0;
    margin-bottom: 9.375vw;
  }
}
.p-pickupNews__ttl {
  position: absolute;
  margin: -10px 0px 0px -12px;
  transform-origin: left bottom;
  transform: rotate(90deg);
  font-size: 20px;
  letter-spacing: 2px;
  font-family: serif;
}
.p-pickupNews__txt {
  font-size: 15px;
  margin-top: 12px;
  padding: 6px;
  margin-left: 11px;
  margin-right: 18px;
  line-height: 22px;
}
@media only screen and (min-width: 768px) {
  .p-pickupNews__txt {
    font-size: 18px;
    margin-top: 14px;
    padding: 9px;
    line-height: 30px;
    font-size: 22px;
    letter-spacing: 2px;
  }
}
.p-pickupNews__txt p {
  font-family: serif;
  font-size: 15px;
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .p-pickupNews__ttl {
    width: 1.171875vw;
    margin: -0.78125vw 0 0 -0.390625vw;
  }
}
.p-pickupNews__link {
  box-shadow: 0px 0px 22px -7px #777777;
  border-radius: 12px;
  overflow: hidden;
  font-family: "游ゴシック体";
  display: flex;
  height: 150px;
}
.p-pickupNews__link img {
    width: 100%;
  }

.p-concept {
  position: relative;
  padding-top: 20.5333333333vw;
  margin-bottom: 63.2vw;
}
@media only screen and (min-width: 768px) {
  .p-concept {
    padding-top: 10.3125vw;
    margin-bottom: 18.515625vw;
  }
}
.p-concept__ttl {
  position: absolute;
  top: -1.3rem;
  width: 18.4vw;
  font-size: 10px;
}
@media only screen and (min-width: 768px) {
  .p-concept__ttl {
    width: 7.265625vw;
  }
}
.p-concept__txtBox {
  width: 73.6vw;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .p-concept__txtBox {
    width: 27.34375vw;
  }
}
.p-concept__catch {
  margin-bottom: 10.6666666667vw;
}
@media only screen and (min-width: 768px) {
  .p-concept__catch {
    margin-bottom: 4.6875vw;
  }
}
.p-concept__para {
  font-size: 3.7333333333vw;
  letter-spacing: 0.08em;
  line-height: 2.5;
}
.p-concept__para:not(:last-of-type) {
  margin-bottom: 12.8vw;
}
@media only screen and (min-width: 768px) {
  .p-concept__para:not(:last-of-type) {
    margin-bottom: 2.734375vw;
  }
}
@media only screen and (min-width: 768px) {
  .p-concept__para {
    font-size: 1.171875vw;
  }
}

.p-about {
  position: relative;
  background: linear-gradient(177.6278158453deg, rgb(181, 209, 205) -61.748480444%, rgb(181, 209, 205) -40.4360465116%, rgb(239, 212, 206) 85.579082981%, rgb(255, 255, 255) 96.8789640592%);
  background-size: cover;
  padding: 67.7333333333vw 0 0;
}
@media only screen and (min-width: 768px) {
  .p-about {
    padding: 25.390625vw 0 0;
  }
}
.p-about__mv {
  position: absolute;
  top: -24.5333333333vw;
  left: 0;
  width: 91.7333333333vw;
}
.p-concept__para:not(:last-of-type) {
    width: 414px;
  }
  .p-about__mv img {
    width: 365px;
    height: 285px;
    object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .p-about__mv img {
    width: 500px;
    height: 400px;
  }
}
@media only screen and (min-width: 768px) {
  .p-about__mv {
    top: -7.8125vw;
    width: 35.15625vw;
  }
}

.p-about__ttl {
  position: relative;
  top: -1rem;
  width: 13.3333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-about__ttl {
    width: 5.46875vw;
  }
}
.p-about__catch {
  width: 72vw;
  margin: 12vw 0 9.3333333333vw 1.3333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-about__catch {
    margin: 5.46875vw 0 6.25vw auto;
    width: 28.125vw;
  }
}
.p-about__spec {
  position: relative;
}
.p-about__spec:not(:last-of-type) {
  margin-bottom: 32vw;
}
@media only screen and (min-width: 768px) {
  .p-about__spec:not(:last-of-type) {
    margin-bottom: 10.15625vw;
  }
}
.p-about__spec--icon {
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align:center;
  border-radius: 50%;
  border: solid 1px #8dc9bf;
  color: #8dc9bf;
  font-size: 26px;
  position: relative;
  z-index: 3;
}
.p-about__spec--icon p {
  line-height: 100px;
  letter-spacing: 2px;
}
.p-about__spec--person {
  position: relative;
  z-index: 2;
  width: 68.5333333333vw;
  margin: -1.5rem auto 3rem;
}
@media only screen and (min-width: 768px) {
  .p-about__spec--person {
    width: 25.78125vw;
  }
}
.p-about__spec--texture {
  position: absolute;
  z-index: 1;
  top: 69.3333333333vw;
  right: -35%;
  width: 53.3333333333vw;
  opacity: 0.8;
}
@media only screen and (min-width: 768px) {
  .p-about__spec--texture {
    top: 26.875vw;
    width: 17.96875vw;
  }
}
.p-about__spec--txt {
  width: 68.5333333333vw;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .p-about__spec--txt {
    width: 22.65625vw;
  }
}
.p-about__spec--catch {
  width: 45.8666666667vw;
  margin-bottom: 2rem;
  font-size: 26px;
  font-family: serif;
  letter-spacing: 3px;
  line-height: inherit;
}
/* @media only screen and (min-width: 768px) {
  .p-about__spec--catch {
    font-size: 35px;
  }
} */
@media only screen and (min-width: 768px) {
  .p-about__spec--catch {
    width: 17.96875vw;
    margin-bottom: 3rem;
    font-size: 35px;
  }
}
.p-about__spec--exp {
  font-size: 3.7333333333vw;
  line-height: 2;
  letter-spacing: 0.063em;
}
@media only screen and (min-width: 768px) {
  .p-about__spec--exp {
    font-size: 1.171875vw;
  }
}
.p-about__spec.oil .p-about__spec--icon {
  margin-left: auto;
}
.p-about__spec.oil .p-about__spec--texture {
  top: 59.7333333333vw;
  left: -35%;
  width: 56vw;
}
@media only screen and (min-width: 768px) {
  .p-about__spec.oil .p-about__spec--texture {
    top: 25.78125vw;
    width: 19.53125vw;
  }
}
.p-about__spec.oil .p-about__spec--catch {
  margin-left: auto;
}
.p-about__spec.oil .p-about__spec--exp {
  text-align: right;
}
.p-about__spec.milk .p-about__spec--texture {
  top: 78.1333333333vw;
  width: 56vw;
}
@media only screen and (min-width: 768px) {
  .p-about__spec.milk .p-about__spec--texture {
    top: 32.03125vw;
    width: 19.53125vw;
    right: -30%;
  }
}
.p-about__ttlEn {
  font-size: 14px;
  margin-bottom: 8vw;
  color: #8dc9bf;
  letter-spacing: 3px;
  margin-top: 40px;
}
@media only screen and (min-width: 768px) {
  .p-about__ttlEn {
    width: 17.1875vw;
    margin-bottom: 3.125vw;
    margin-top: 50px;
  }
}
.p-about__ttlJp {
  margin-bottom: 16vw;
  font-size: 39px;
  line-height: 1.4em;
  font-family: serif;
}
@media only screen and (min-width: 768px) {
  .p-about__ttlJp {
    margin-bottom: 6.25vw;
    font-size: 55px;
  }
}
.p-about .p-blockPad {
  margin-bottom: 6.6666666667vw;
}
@media only screen and (min-width: 768px) {
  .p-about .p-blockPad {
    margin-bottom: 2.34375vw;
  }
}
.p-about .separator {
  margin-bottom: 22.6666666667vw;
}
@media only screen and (min-width: 768px) {
  .p-about .separator {
    margin-bottom: 7.8125vw;
  }
}

.p-product {
  padding-top: 13.3333333333vw;
  margin-top: 26.6666666667vw;
  margin-bottom: 16vw;
  position: relative;
}
@media only screen and (min-width: 768px) {
  .p-product {
    margin-bottom: 6.25vw;
    padding-top: 3.90625vw;
    margin-top: 7.8125vw;
  }
}
.p-product__ttl {
  position: absolute;
  top: -21.3333333333vw;
  width: 16.5333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-product__ttl {
    width: 7.8125vw;
    top: -6.25vw;
  }
}
.p-product__items:not(:last-of-type) {
  margin-bottom: 17.3333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-product__items:not(:last-of-type) {
    margin-bottom: 10.15625vw;
  }
}
.p-product__items--ttl {
  font-size: 33px;
  margin-bottom: 10px;
  text-align: center;
  font-family: serif;
}
.p-product__items--ttl2 {
  text-align: center;
  font-size: 60px;
  margin-bottom: 30px;
  font-family: serif;
}
@media only screen and (min-width: 768px) {
  .p-product__items--ttl {
    margin-bottom: 4.6875vw;
  }
}
.p-product__items--pic {
  width: 34.6666666667vw;
  margin: 0 auto 9.6vw;
}
.p-product__items--pic img {
    width: 152px;
    height: 334px;
    object-fit: cover;
}
@media only screen and (min-width: 768px) {
  .p-product__items--pic {
    width: 13.28125vw;
    margin-bottom: 3.90625vw;
  }
}
.p-product__items--name {
  font-size: 4.8vw;
  letter-spacing: 0.1em;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 5.3333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-product__items--name {
    font-size: 1.40625vw;
    margin-bottom: 1.40625vw;
  }
}
.p-product__items--flavor {
  width: 58.6666666667vw;
  margin: 0 auto 4vw;
  padding: 0.8rem;
  border-radius: 2rem 2rem 2rem 2rem;
  font-size: 3.7333333333vw;
  text-align: center;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .p-product__items--flavor {
    width: 17.578125vw;
    font-size: 1.09375vw;
    margin-bottom: 1.5625vw;
    padding: 1rem;
  }
}
.p-product__items--flavorTxt {
  text-align: center;
  font-size: 3.2vw;
  margin-bottom: 6.6666666667vw;
}
@media only screen and (min-width: 768px) {
  .p-product__items--flavorTxt {
    font-size: 1.09375vw;
    margin-bottom: 2.34375vw;
  }
}
.p-product__items--price {
  font-size: 3.2vw;
  letter-spacing: 0.09em;
  margin-bottom: 6.6666666667vw;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .p-product__items--price {
    font-size: 1.09375vw;
    margin-bottom: 2.34375vw;
  }
}
.p-product__items--price span {
  font-size: 6.4vw;
}
@media only screen and (min-width: 768px) {
  .p-product__items--price span {
    font-size: 2.03125vw;
  }
}
.p-product__items--btn {
  margin-bottom: 4vw;
  border: solid 1px #000;
  border-radius: 5px;
  padding: 27px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 17px;
}
@media only screen and (min-width: 768px) {
  .p-product__items--btn:not(:last-of-type) {
    margin-bottom: 1.5625vw;
  }
}
.p-product__items--annotation {
  text-align: right;
  font-size: 2.6666666667vw;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  width: 86.6666666667vw;
}
@media only screen and (min-width: 768px) {
  .p-product__items--annotation {
    -webkit-transform: inherit;
            transform: inherit;
    width: inherit;
    font-size: 0.78125vw;
  }
}
.p-product .clear .p-product__items--flavor {
  background-color: #8dc9bf;
}
.p-product .white .p-product__items--flavor {
  background-color: #f4ae9c;
}
.p-topshop {
  margin-bottom: 21.3333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-topshop {
    margin-bottom: 12.5vw;
  }
}
.p-topshop__ttl {
  margin-bottom: 10.6666666667vw;
  font-size: 40px;
  font-family: serif;
}
@media only screen and (min-width: 768px) {
  .p-topshop__ttl {
    margin-bottom: 4.6875vw;
  }
}
.p-topshop__ttl img {
  width: 38.9333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-topshop__ttl img {
    width: 19.53125vw;
  }
}
.p-topshop__img {
  margin-bottom: 5.3333333333vw;
}
.p-topshop__btn {
border: solid 1px #000;
border-radius: 5px;
padding: 21px;
text-align: center;
font-size: 18px;
letter-spacing: 2px;
font-weight: bold;
margin-bottom: 70px;
}
.p-news {
  margin-bottom: 40vw;
}
@media only screen and (min-width: 768px) {
  .p-news {
    margin-bottom: 14.84375vw;
  }
}
.p-news__ttl {
  width: 20.9333333333vw;
  margin-bottom: 12.5333333333vw;
  font-weight: 500;
  font-size: 40px;
  font-family: serif;
}
@media only screen and (min-width: 768px) {
  .p-news__ttl {
    width: 10.390625vw;
    margin-bottom: 4.6875vw;
  }
}
.p-news__lists {
  width: 100%;
  border-top: 1px solid #b4b4b4;
  border-bottom: 1px solid #b4b4b4;
}
.p-news__list {
  font-size: 3.7333333333vw;
  letter-spacing: 0.05em;
  align-items: baseline;
  padding: 8.8vw 0;
}
.c-news__list2 {
  font-size: 14px;
  letter-spacing: 0.05em;
  display: flex;
  align-items: baseline;
  padding: 8.8vw 0;
}
@media only screen and (min-width: 768px) {
  .c-news__list2 {
    font-size: 17px;
    padding: 3.515625vw 0;
  }
}
@media only screen and (min-width: 768px) {
  .p-news__list {
    padding: 3.515625vw 0;
  }
}
.p-news__list:not(:last-of-type) {
  border-bottom: 1px solid #b4b4b4;
}
@media only screen and (min-width: 768px) {
  .p-news__list {
    font-size: 1.25vw;
  }
}
.p-news__date {
  margin-right: 5.3333333333vw;
}
@media only screen and (min-width: 768px) {
  .p-news__date {
    margin-right: 2.734375vw;
  line-height: 22px;
  }
}
.p-news__txt {
  line-height: 1.5;
}

.p-last {
  margin-bottom: 40vw;
}
@media only screen and (min-width: 768px) {
  .p-last {
    margin-bottom: 14.84375vw;
  }
}
.p-last__imgs {
  margin-bottom: 10.6666666667vw;
}
.p-last__imgs img {
  border-radius: 0;
}
@media only screen and (min-width: 768px) {
  .p-last__imgs {
    margin-bottom: 4.296875vw;
  }
}
.p-last__imgUp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p-last__imgUp .p-last__left {
  width: 66.6666666667vw;
}
.p-last__imgUp .p-last__right {
  width: 33.3333333333vw;
}
.p-last__imgDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p-last__imgDown .p-last__left {
  width: 33.3333333333vw;
}
.p-last__imgDown .p-last__right {
  width: 66.6666666667vw;
}
.p-last__insta--ttl {
  margin-bottom: 20px;
  text-align: center;
  font-size: 29px;
  font-family: serif;
}
.p-last__insta--ttl2 {
  font-size: 14px;
  margin-bottom: 40px;
  text-align: center;
  font-family: serif;
}

.p-last__insta--btn {
border: solid 1px #000;
border-radius: 5px;
padding: 18px;
text-align: center;
font-size: 23px;
font-family: serif;
}
@media only screen and (min-width: 768px) {
  .p-last__insta--ttl {
    margin-bottom: 4.296875vw;
  }
}

.l-footer__logo {
  font-family: serif;
  margin: 0 auto 12vw;
  text-align: center;
  font-size: 35px;
  font-family: serif;
}
@media only screen and (min-width: 768px) {
  .l-footer__logo {
    width: 10.9375vw;
    margin-bottom: 3.515625vw;
  }
}
.l-footer__snsLists {
  display: flex;
  width: 11.3333333333vw;
  margin: 0 auto 13.3333333333vw;
}
.l-footer__snsLists li svg {
  width: 40px;
  height: 40px;
  margin-left: -35px;
  margin-right: 74px;
}
@media only screen and (min-width: 768px) {
  .l-footer__snsLists {
    width: 4.71875vw;
    margin-bottom: 4.6875vw;
  }
}
.l-footer__linkLists {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6.6666666667vw;
  font-size: 14px;
  font-family: serif;
}
@media only screen and (min-width: 768px) {
  .l-footer__linkLists {
    width: 23.4375vw;
    margin: 0 auto 2.34375vw;
  }
}
.l-footer__copy {
  margin-bottom: 20px;
  font-size: 17px;
  text-align: center;
  font-family: serif;
}

@media only screen and (min-width: 768px) {
  .l-pcWrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(177.6278158453deg, rgb(181, 209, 205) -61.748480444%, rgb(181, 209, 205) -40.4360465116%, rgb(239, 212, 206) 85.579082981%, rgb(255, 255, 255) 96.8789640592%);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 3.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .p-pcContainer {
    position: relative;
    z-index: 10;
    width: 22.8rem;
  }
  .p-pcContainer__logo {
    font-family: serif;
    font-size: 32px;
  }
  .p-pcContainer__logo2 {
    margin-top: 10px;
    margin-bottom: 3rem;
    font-size: 10px;
    text-align: center;
    font-family: serif;
    font-weight: bold;
  }
  .c-pcContainer__links {
    display: inline-block;
  }
  .p-pcContainer__link {
    font-size: 1.6rem;
    letter-spacing: 0.05em;
    position: relative;
    padding-left: 2.2rem;
  }
  .p-pcContainer__link > a::before {
    content: "";
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background: #fff;
    position: absolute;
    border-radius: 50px;
    left: 0;
    top: 0.5rem;
  }
  .p-pcContainer__link:not(:last-of-type) {
    margin-bottom: 2rem;
  }
  .p-pcContainer__linkChild {
    margin-top: 1.5rem;
  }
  .p-pcContainer__linkChild--link {
    position: relative;
    padding-left: 0.8rem;
    margin-top: 0.8rem;
  }
  .p-pcContainer__linkChild--link::before {
    content: "";
    display: inline-block;
    width: 0.3rem;
    height: 0.1rem;
    background: #000000;
    position: absolute;
    left: 0;
    top: 1.1rem;
  }
  .p-pcContainer__linkChild--link img {
    width: 14.5rem;
  }
}

.p-pcContainer__link a.active::before {
  color: #000;
}

@media only screen and (min-width: 768px) {
  .pc__moveTxt {
    position: absolute;
    z-index: 10;
    bottom: 14.84375vw;
  }
  .c-pc__snsLists {
    position: absolute;
    left: 45.234375vw;
    bottom: 2.5vw;
    width: 7.8125vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .c-pc__snsLists li svg {
    width: 58px;
    height: 39px;
  }
  .p-pc__img--upRight {
    position: absolute;
    top: 0;
    right: 38.28125vw;
    width: 27.734375vw;
    max-width: 39.2rem;
  }
  .p-pc__img--bottomLeft {
    position: absolute;
    height: 30.46875vw;
    bottom: -1px;
    left: 0;
    max-height: 42.9rem;
    width: 42.03125vw;
    max-width: 59.4rem;
  }
  .p-pc__img--posi {
    position: relative;
  }
  .p-pc__switchImgRightUp {
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
  }
  .p-pc__switchImgLeftDown {
    position: absolute;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
  }
  .p-pc__default {
    opacity: 0;
  }
}

.imageNum-1 {
  z-index: 9;
}

.imageNum-2 {
  z-index: 8;
}

.imageNum-3 {
  z-index: 7;
}

.imageNum-4 {
  z-index: 6;
}

.imageNum-5 {
  z-index: 5;
}

.imageNum-6 {
  z-index: 4;
}

.imageNum-7 {
  z-index: 3;
}

.imageNum-8 {
  z-index: 2;
}

.imageNum-9 {
  z-index: 1;
  opacity: 1;
}

/* // 小さいカーソル */
  #mouseCursor{
    position: fixed;
    top: -5px;
    left: -5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
    transform: translate(0, 0);
    pointer-events: none;
  }
    /* // 大きいマウスストーカー */
  #mouseStalker{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 50px;
    height: 50px;
    background: linear-gradient(177.6278158453deg, rgb(181, 209, 205) -61.748480444%, rgb(181, 209, 205) -40.4360465116%, rgb(239, 212, 206) 85.579082981%, rgb(255, 255, 255) 96.8789640592%);
    opacity: 0.4;
    border-radius: 50%;
    transition: 0.2s;
    transition-timing-function: ease-out;
    pointer-events: none;
    z-index: 10;
  }
/* .cursor,
.follower {
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: #000;
  z-index: 9999;
}
.cursor.onlyShowForPc-cursor {
  display: none;
}
@media only screen and (min-width: 768px) {
  .cursor.onlyShowForPc-cursor {
    display: block;
  }
} */

/* .follower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  opacity: 0.4;
  background: linear-gradient(45deg, #f4ae9c, #8dc9bf, #f4ae9c);
  -webkit-animation: bggradient 8s ease infinite;
          animation: bggradient 8s ease infinite;
  background-blend-mode: screen;
  background-size: 200% 100%;
  z-index: 9998;
  -webkit-transition: -webkit-transform ease 0.1s;
  transition: -webkit-transform ease 0.1s;
  transition: transform ease 0.1s;
  transition: transform ease 0.1s, -webkit-transform ease 0.1s;
  text-align: center;
}
.follower.onlyShowForPc-follower {
  display: none !important;
}
@media only screen and (min-width: 768px) {
  .follower.onlyShowForPc-follower {
    display: block !important;
  }
}
.follower span {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.follower.is-active {
  -webkit-transform: scale(3);
          transform: scale(3);
}
.follower.is-navy-active {
  -webkit-transform: scale(3);
          transform: scale(3);
} */

@-webkit-keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes bggradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.blockTtl {
  transform: rotate(90deg);
  font-size: 20px;
  letter-spacing: 2px;
  font-family: serif;
  margin-top: 50px;
}
@media only screen and (min-width: 768px) {
  .blockTtl {
    left: 1.953125vw;
  }
}
.p-pc__movingTxt{
  display: flex;
  font-size: 60px;
  white-space: nowrap;
  position: absolute;
  z-index: 10;
  bottom: 14.84375vw;
  color: #fff;
  font-family: serif;
}
.p-pc_movingTxt p{
  white-space: nowrap;
  font-size: 5rem;
  position: relative;
  left: 100%;
}

@-webkit-keyframes txtMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-107%);
            transform: translateX(-107%);
  }
}

@keyframes txtMove {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-107%);
            transform: translateX(-107%);
  }
}
.fadeIn {
  -webkit-transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 0.7s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.p-separator {
  display: block;
  width: 0.5rem;
  height: 23.4666666667vw;
  margin: 0 auto;
  z-index: 5;
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .p-separator {
    height: 8.59375vw;
  }
}
.p-separator__bar {
  height: 100%;
  width: 0.1rem;
  background-color: #adadad;
  margin: 0 auto;
}
.p-separator__core {
  position: relative;
  top: -9rem;
  width: 0.5rem;
  border-radius: 20%;
  height: 9.6vw;
  background-color: #99b8b3;
  -webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
          animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: coreMove;
          animation-name: coreMove;
}
@media only screen and (min-width: 768px) {
  .p-separator__core {
    height: 3.515625vw;
  }
}
.p-about__movie img {
  width: 100%;
  height: 370px;
  object-fit: cover;
}
.p-fv__scroll {
  position: absolute;
  width: 3rem;
  height: 8.59375vw;
  left: 3%;
  top: 83%;
}
.p-fv__scroll--txt {
  color: #99b8b3;
  font-size: 1.25vw;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: relative;
  width: 4.5rem;
  letter-spacing: 0.1em;
  left: 5%;
  top: 32%;
}
.p-fv__scroll .separator {
  left: 7%;
  top: 93%;
}

@-webkit-keyframes coreMove {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(290%);
            transform: translateY(290%);
  }
}

@keyframes coreMove {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(290%);
            transform: translateY(290%);
  }
}
body.noScroll {
  overflow: hidden;
}

.navShow {
  opacity: 1;
  visibility: visible;
  -webkit-filter: blur(0);
          filter: blur(0);
}

.disappearBar {
  transform-origin: center;
  -webkit-transform-origin: center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  opacity: 0;
}

.rotate {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  transform-origin: center;
  -webkit-transform-origin: center;
  position: relative;
  top: 2.4vw;
}

.rotateRev {
  transform-origin: center;
  -webkit-transform-origin: center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
  bottom: 2.4vw;
}

.hideEl {
  opacity: 0;
  -webkit-transform: translateY(4rem);
          transform: translateY(4rem);
}

.on {
  opacity: 1;
}
